/*
  Name:Orange
  Priority:1
*/
.entry-footer h2{color:#fff;background:#ffcc00;}
#slide .thumb{background-color:#ffcc00;}
#page-top{color:#fff;background-color:#ffcc00;}
.page-numbers+.prev,.page-numbers+.next{color:#fff;background-color:#ffcc00;}
.page-links a{color:#fff;border-color:#ffcc00;background-color:#ffcc00;}
.entry-content a{color:#1122cc;border-bottom:1px solid #1122cc;}
.entry-content h2{color:#fff;background:#ffcc00;}
.entry-content h3{border-left:20px solid #ffcc00;}
.entry-content h4{border-bottom:10px solid #ffcc00;}